/* global rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0e1c36;
}
button {
  cursor: pointer;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* end global ruls */
.start {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #0e1c36;
}
.start::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}
.start .container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.start .container button {
  border: 0;
  background-color: #009688;
  border-radius: 2px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  letter-spacing: 4px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.start .container button:hover {
  background-color: #0096889e;
}
.actual-game {
  display: none;
  position: relative;
  height: 100vh;
}
/* header */
header {
  background-color: #0e1c36;
  color: #009688;
  box-shadow: 0px -12px 14px 0px white;
}
header .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 15px 0;
  flex-wrap: wrap;
}
header .container .counter {
  display: flex;
}
button#restart,
button#reload {
  border: 0;
  background-color: #009688;
  border-radius: 2px;
  padding: 10px;
  color: white;
  font-weight: bold;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
button#restart:hover,
button#reload:hover {
  background-color: #0096889e;
}
header .container div {
  color: #009688;
}
/* end header */
/* card container */
.father {
  height: calc(100vh -105px);
}
.father .container {
  padding: 20px 0;
  perspective: 800px;
  height: calc(100vh - 100px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.father .container .card {
  height: 25%;
  width: calc(100% / 6);
  border: 2px solid #009688;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  -webkit-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -ms-transition: transform 0.8s;
  -o-transition: transform 0.8s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.father .container.cant-click {
  pointer-events: none;
}
.father .container .card.open {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}
.father .container .card.done {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}
.father .container .card div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.father .container .card .front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #0e1c36;
  font-size: 40px;
  color: #009688;
}
.father .container .card .back {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  overflow: hidden;
  background-color: white;
  font-size: 100px;
  color: #0e1c36;
}
@media (max-width: 767px) {
  .father .container .card {
    height: 20%;
    width: calc(100% / 5);
  }
  .father .container .card .back {
    font-size: 70px;
  }
}
@media (max-width: 575px) {
  .father .container {
    gap: 2px;
  }
  .father .container .card .back {
    font-size: 45px;
  }
}
/* end cards container */
/* winer section */
.win {
  height: 100vh;
  background-color: #3f51b5;
  display: none;
}
.win .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  flex-direction: column;
}
.win .container .content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
.win .container .content span {
  color: #ffeb3b;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
}
/* end winer section */
